.addSystem-card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161718;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
}

/* dropzone */

.add-meal__dropzone {
    border: 1px dashed #ccc;
    /* width: 50%;
    text-align: center;*/
    padding: 100px;
    /* border-radius: 50%; */
}

.add-meal__tags {
    width: 50%;
    color: #333;
}

.add-meal__dropzone p {
    margin-top: 0;
}

.addSystem-card-input {
    color: black;
}