/* burger menu */
.toggle{
    position: absolute;
    top: 10%;
    left: 95%;
    transform: translate( -50px, -50px);
}

/* .toggle.active {
    z-index: 1;
    transform: translate(0px, -75px);
} */

.toggle span{
    position: relative;
    width: 36px;
    height: 4px;
    background: white;
    display: block;
    margin: 8px;
    transition: 0.5s;
}
/* .toggle span:nth-child(1){
    transform-origin: left;
}
.toggle span:nth-child(2){
    transform-origin: center;
}
.toggle span:nth-child(3){
    transform-origin: left;
}
.toggle.active span:nth-child(1){
    transform: rotate(45deg);
    left: 2px;
    background: #f1f1f1;
}
.toggle.active span:nth-child(2){
    transform: rotate(315deg);
    right: 3px;
    background: #f1f1f1;
}
.toggle.active span:nth-child(3){
    transform: scaleX(0);
} */

/* burger menu */

.sidenav {
    height: 100%;
    width: 250px;
    transform: translate(250px);
    margin-left: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}

.sidenav.open {
    transform: translate(0px);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;    
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    /* transition: margin-right .5s; */
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.nav-list-end {
    margin-top: auto;
    margin-bottom: 70px;
}

#mySidenav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

